@media (max-width: 1200px) {




  .header__burger {
    display: block;
    position: fixed;
    left: 91%;
    margin-top: 20px;
    width: 44px;
    height: 44px;
    z-index: 9999;
    padding: 25px;
    background-color: #e2c02b;
    border-radius: 50%;
    transition: all 0.5s;

    &::before {
      content: "";
      background-color: #000;
      position: absolute;
      top: 29%;
      width: 18px;
      height: 3px;
      left: 16%;
      border-radius: 5px;
      transition: all .5s;
    }

    &::after {
      content: "";
      background-color: #000;
      position: absolute;
      bottom: 29%;
      width: 18px;
      height: 3px;
      right: 16%;
      border-radius: 5px;
      transition: all .5s;
    }
  }

  .header__burger.open {
    left: 63%;
  }

  .header__burger.open::before {
    transform: rotate(46deg);
    top: 36%;
    left: 22%;
  }

  .header__burger.open::after {
    transform: rotate(46deg);
    bottom: 38%;
    right: 22%;
  }

  .header__line-burger {
    background-color: #000;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 19%;
    top: 23px;
    border-radius: 5px;
    transition: all .5s;
  }

  .open .header__line-burger {
    transform: rotate(-46deg);
  }

  .menu {

    margin-top: 40px;

    &-list {
      position: fixed;
      right: -60%;
      top: 0;
      width: 300px;
      display: block;
      text-align: center;
      padding-top: 100px;
      background-color: #fff;
      height: 100vh;
      z-index: 5;
      transition: all 0.5s;
    }

    &-item {
      z-index: 2;


      &:last-child {
        display: block;
      }

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .open-menu {
    right: 0;
  }

  .search__wrap {
    flex-direction: column;
    top: 0;
  }

  .search__content {
    width: 100%;
    margin-bottom: 20px;
  }

  .search__list {
    width: 100%;
  }

  .company__item::before {
    left: 22%;
  }

  .stages__item {
    padding-left: 100px;
    margin-left: 0;
  }

  .personnel__item {
    flex-direction: column;
    align-items: center;

    &:last-child .personnel__img {
      order: -1;
    }
  }

  .personnel__item:not(:last-child) {
    border-bottom: none;
  }

  .personnel__img {
    margin: 0;
    margin-bottom: 20px;
  }

  .personnel__inner {
    width: 100%;
  }

  .our-services__wrap {
    flex-direction: column;
  }

  .our-services__content {
    width: 75%;
  }

  .our-services__img {
    margin-top: 30px;
  }

  .companyname__list {
    flex-wrap: wrap;
  }

  .companyname__item {
    width: 47%;
    margin-bottom: 30px;
  }

  .process__list {
    flex-wrap: wrap;
  }

  .process__item {
    width: 46%;
  }

  .access__wrap {
    flex-direction: column;
  }

  .access__img {
    width: 100%;
    border-radius: 0;
  }

  .access__content {
    width: 100%;
    border-radius: 0;
  }

  .team__list--top {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .team__list--bottom {
    flex-wrap: wrap;
  }

  .team__item {
    width: 34%;
  }

  .business__item {
    width: 32%;
  }

  .reviews__list {
    flex-wrap: wrap;
  }

  .numbers__download-inner::before {
    right: 80px;
  }

  .jobs__content-title {
    margin-right: 10px;
  }

  .jobs__content-item {
    width: 100%;
  }

  .us__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .us__item {
    width: 35%;
    margin-bottom: 35px;
  }

  .professionally__box {
    flex-direction: column;
  }

  .professionally__box-img {
    margin-bottom: 35px;
  }

  .professionally__guarantee-box {
    flex-direction: column;
    align-items: center;
  }

  .professionally__guarantee-list:first-child {
    margin-bottom: 35px;
  }

  .professionally__guarantee-list {
    width: 55%;
  }

  .professionally__hr-box {
    flex-direction: column;
  }

  .professionally__hr-img {
    margin-bottom: 35px;
  }

  .professionally__hr-img--left {
    order: -1;
  }

  .our-services__img {
    order: -1;
    margin-bottom: 35px;
  }

  .our-services__list {
    margin-right: 0;
    width: 100%;
  }



























































}



@media (max-width: 992px) {



  .company__list {
    flex-wrap: wrap;
  }

  .company__item {
    width: 50%;
  }

  .company__item::before {
    left: 33%;
  }

  .professionally__img {
    width: 270px;
    height: 270px;
  }

  .professionally__btn-grey {
    width: 35%;
  }

  .numbers__download-inner::before {
    width: 0;
    height: 0;
  }

  .business__img {
    width: 40%;
  }

  .business__title {
    line-height: 40px;
  }

  .business__item {
    width: 48%;
  }

  .reviews__subtitle {
    line-height: 45px;
  }

  .marketing__text {
    width: 100%;
  }

  .marketing__list {
    flex-wrap: wrap;
  }

  .marketing__item {
    width: 50%;
  }

  .marketing__item::before {
    left: 30%;
  }

  .news__item {
    width: 48%;
  }

  .active-arrow::before {
    top: 61%;
    right: 40%;
    transform: rotate(90deg);
  }

  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer__company {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__title::before {
    width: 7%;
  }

  .footer__adress {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__terms {
    width: 100%;
  }

  .active-arrow {

    &::before {
      width: 0;
      height: 0;
    }
  }

  .adress__wrap {
    flex-direction: column;
  }

  .adress__box-kyiv,
  .adress__box-lviv {
    width: 100%;
  }

  .adress__map-kyiv,
  .adress__map-lviv {
    border-radius: 0 0px 25px 0;
    height: 300px;
  }

  .professionally__guarantee-list {
    width: 80%;
  }







  .jobs__wrap {
    flex-direction: column;
    align-items: center;
  }

  .jobs__sidebar {
    width: 70%;
    margin-bottom: 30px;
  }






  .popap {
    width: 45%;
  }




  








































}


@media (max-width: 768px) {


  .oksior-block__subtitle {
    width: 100%;
  }

  .header__burger {
    left: 85%;
  }

  .header__burger.open {
    left: 37%;
  }

  .menu {
    flex-direction: column;
  }

  .header__content {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.601);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .header__wrap {
    align-items: center;
    text-align: center;
    padding-right: 0;
  }

  .header__above-title {
    font-size: 33px;
  }

  .header__title {
    font-size: 70px;
  }

  .header__title-black {
    letter-spacing: 10px;
  }

  .header__btn-yellow {
    width: 100%;
    margin-bottom: 20px;
  }

  .header__btn-transparent {
    width: 100%;
  }

  .search__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .professionally__inner {
    flex-direction: column;
    align-items: center;
  }

  .professionally__img {
    width: 400px;
    margin-bottom: 20px;
  }

  .professionally__btn-transparent {
    margin-right: 0;
    width: 100%;
    margin-bottom: 25px;
  }

  .professionally__btn-grey {
    margin-right: 0;
    width: 100%;
  }

  .personnel__title {
    font-size: 42px;
  }

  .company__item {
    width: 100%;
  }

  .company__item::before {
    left: 39%;
  }

  .experts__list {
    flex-direction: column;
  }

  .experts__item {
    width: 100%;
  }

  .professionally__title-box {
    padding: 15px 0;
  }

  .professionally__title {
    color: #fff;
  }

  .personnel__list {
    padding: 0;
  }

  .our-services__title {
    font-size: 42px;
  }

  .team__item {
    width: 52%;
  }

  .companyname__item {
    width: 100%;
  }

  .process__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .process__item:nth-child(even) {
    padding-top: 0;
  }

  .numbers__list {
    flex-direction: column;
  }

  .numbers__item {
    margin-bottom: 20px;
  }

  .services__text {
    padding: 0;
    margin-bottom: 30px;
  }

  .services__img {
    width: 100%;
  }

  .work__btn-transparent {
    margin-right: 0;
    width: 100%;
  }

  .reviews__inner {
    width: 100%;
  }

  .business__img {
    display: none;
  }

  .business__text {
    line-height: 30px;
  }

  .business__item {
    width: 100%;
  }

  .marketing__item {
    width: 100%;
  }

  .marketing__item::before {
    left: 37%;
  }

  .news__item {
    width: 100%;
  }

  .work__btn-transparent {
    margin-bottom: 25px;
  }

  .work__btn-yellow {
    width: 100%;
  }

  .region__list {
    flex-direction: column;
    align-items: center;
  }

  .region__item {
    margin-bottom: 20px;
  }

  .professionally__hr-img {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }


  

  

  













 

  






   .popap {
     width: 55%;
   }




















}

@media (max-width: 576px) {


  .other-page__title {
    font-size: 70px;
  }

  .other-page__subtitle {
    font-size: 40px;
  }

  .oksior-block__title {
    font-size: 36px;
  }

  



  .header__burger {
    left: 81%;
  }

  .header__burger.open {
    left: 30%;
  }

  .logo__text {
    font-size: 22px;
  }

  .menu-list {
    width: 200px;
  }

  .header__title {
    font-size: 55px;
  }

  .header__above-title {
    font-size: 27px;
  }

  .header__text {
    font-size: 14px;
  }

  .header__inner {
    display: flex;
    flex-direction: column;
  }

  .header__btn-yellow {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .search__title {
    font-size: 42px;
  }

  .search__subtitle {
    font-size: 30px;
  }

  .search__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .company__item::before {
    left: 33%;
  }

  .stages__num--line::after {
    top: 60px;
  }

  .stages__subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .professionally__subtitle::before {
    right: -12px;
  }

  .professionally__subtitle::after {
    top: -1px;
    right: -4px;
  }

  .active::after {
    top: -7%;
    right: -6px;
  }

  .professionally__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .professionally__btn-grey {
    display: block;
    width: 100%;
  }

  .personnel__item {
    padding: 0;
  }

  .experts__title,
  .stages__title,
  .personnel__title,
  .our-services__title {
    font-size: 40px;
  }

  .header__subtitle--other {
    font-size: 35px;
    text-align: center;
  }

  .companyname__title {
    font-size: 42px;
  }

  .companyname__subtitle {
    font-size: 19px;
  }

  .companyname__text {
    font-size: 20px;
  }

  .process__title {
    font-size: 36px;
    line-height: 40px;
  }

  .process__num {
    font-size: 90px;
  }

  .process__subtitle {
    font-size: 22px;
  }

  .process__text {
    font-size: 19px;
  }

  .access__above-title {
    font-size: 22px;
  }

  .access__title {
    font-size: 30px;
  }

  .access__content {
    padding: 40px 10px 40px 10px;
  }

  .team__item {
    width: 100%;
  }

  .numbers__btn {
    font-size: 28px;
  }

  .numbers__subtitle {
    font-size: 35px;
    line-height: 37px;
  }

  .numbers__job-text {
    font-size: 21px;
  }

  .services__title {
    font-size: 34px;
    line-height: 42px;
  }

  .services__text {
    font-size: 20px;
    line-height: 29px;
  }

  .services__paragraph {
    margin-bottom: 15px;
  }

  .business__title {
    font-size: 38px;
  }

  .business__text {
    font-size: 22px;
    width: 100%;
  }

  .reviews__title {
    font-size: 38px;
  }

  .reviews__text {
    font-size: 22px;
  }

  .reviews__item {
    width: 100%;
  }

  .reviews__subtitle {
    font-size: 30px;
  }

  .reviews__btn {
    font-size: 35px;
  }

  .clients {
    display: none;
  }

  .expertise__title {
    font-size: 37px;
  }

  .expertise__text {
    font-size: 32px;
  }

  .expertise__subtitle {
    font-size: 35px;
    line-height: 36px;
  }

  .expertise__btn {
    font-size: 29px;
  }

  .header__subtitle--blog {
    font-size: 35px;
    text-align: center;
  }

  .marketing__item::before {
    left: 30%;
  }

  .region__text {
    font-size: 23px;
    line-height: 35px;
  }

  .region__title {
    font-size: 36px;
    line-height: 46px;
  }

  .active-arrow::before {
    width: 0;
    height: 0;
  }

  .region__img-map {
    width: 325px;
  }

  .jobs__content-name,
  .jobs__content-text {
    font-size: 16px;
  }

  .jobs__content-link {
    padding: 15px 8px;
  }

  .stages__item {
    padding-left: 40px;
  }

  .stages__num {
    padding-right: 35px;
  }

  .stages__num::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 12px;
    background-image: url(../images/icons/stage-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
  }

  .professionally__box-img {
    max-width: 100%;
    margin-right: 0;
  }

  .us__item {
    width: 100%;
  }

  .professionally__guarantee-list {
    width: 100%;
  }

  .professionally__guarantee-item {
    padding-left: 0;
  }

  .professionally__guarantee-item::before {
    position: inherit;
  }





















  .popap {
    width: 85%;
  }





















}



@media (max-width: 668px) and (orientation: landscape) {


  .header-inner {
    top: 13%;
  }

  .header-wrap {
    height: calc(100vh + 60px);
  }

  .burger__menu-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .search {
    margin-top: 120px;
  }





}